@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Vidaloka&display=swap');
:root {
    --primary-color: #141b41;
    --secondary-color: #306BAC;
    --accent1-color: #BB7E50;
    --accent2-color: #5B5941;

    --heading-font: 'Vidaloka', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #DBB68F;
    --nav-link-color: #141B41;
    --nav-hover-link-color: #306BAC;
    --nav-hover-background-color: #5B5941;
}
body {
    font-family: var(--paragraph-font) ;
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: car(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-backgorund-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}